In [11]:
from sympy import *
from fractions import Fraction
from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import hypergeom
from scipy.stats import expon
import math
import statsmodels.api as sm
from scipy import stats
import numpy as np
import sympy as sp
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
from IPython.display import display, Latex, HTML, Math
%matplotlib inline

df = pd.DataFrame({'Student':[1,2,3,4,5,6,7,8,9,10], 'StudyHours':[2,3,4,5,6,7,8,9,10,11], 'ExamScore':[60,65,70,72,75,80,83,85,88,90],})
display(df)

x_mean = df['StudyHours'].mean()
y_mean = df['ExamScore'].mean()
print(x_mean)

MSE = np.square(np.subtract(y_mean,df['StudyHours'])).mean()
SSE = np.square(np.subtract(y_mean,df['StudyHours'])).sum()
print(MSE)
print(SSE)

   Student  StudyHours  ExamScore
0        1           2         60
1        2           3         65
2        3           4         70
3        4           5         72
4        5           6         75
5        6           7         80
6        7           8         83
7        8           9         85
8        9          10         88
9       10          11         90

6.5
4950.339999999999
49503.399999999994