In [1]:
import pandas as pd
# Step 1: Create the dataset
data = pd.DataFrame({
    "Age": [22, 25, 47, 52, 46, 28],
    "Income": [30, 50, 90, 110, 70, 40],
    "Fitness": ["Low", "High", "Medium", "High", "High", "Medium"],
    "BuysWatch": ["No", "Yes", "No", "No", "Yes", "Yes"]
})
data

   Age  Income Fitness BuysWatch
0   22      30     Low        No
1   25      50    High       Yes
2   47      90  Medium        No
3   52     110    High        No
4   46      70    High       Yes
5   28      40  Medium       Yes

In [2]:
data_encoded = pd.get_dummies(data, columns=["Fitness"], drop_first=True)
X = data_encoded.drop("BuysWatch", axis=1)
y = data_encoded["BuysWatch"].map({"No": 0, "Yes": 1})
X

   Age  Income  Fitness_Low  Fitness_Medium
0   22      30         True           False
1   25      50        False           False
2   47      90        False            True
3   52     110        False           False
4   46      70        False           False
5   28      40        False            True